.body-color{
    background-color: #FFC2B2 !important;

}

@media (max-width: 360px){
   
    /*Diseño navbar*/
    .nav-color{
        background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
    }
    button:hover{
        background-image: linear-gradient( 102.4deg,  rgba(253,189,85,1) 7.8%, rgba(249,131,255,1) 100.3% );
        
     }
    /*Color icono hamburguesa*/
    .fa-bars{
        color: #FFFFFF;
        
    }
    /*btn icono hamburguesa*/
    .btn-style{
        background-color:#FEBB22;
        border: 0;
    }
    /*Menu lateral izquierdo*/
    .menu{
        width: 200px;
        height: 640px;
       
    }
    .dropdown-item {
        margin-top: 1rem;
    }
    .dropdown-menu menu{
        margin-top: 0;
    }
    /*iconos menu lateral izq*/
    .icon{
        margin-right: 1rem;
    }
    /*****************************************************************************/
    /*Div publicidad*/
   .div-public1{
    margin-top: 20px;
    margin-right: 5px
    
   }
   .img-log{
    width: 200px;
    height: 200px;
   
   }
   .img-public{
    width: 150px;
    height: 150px;
    border-radius: 200px;
    
    
   }
   .img-publiH{
    width: 135px;
    height: 120px;
    margin-top: 29px;
    margin-right: 8px;
   }

   .div-public3{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-right: 5px;
    margin-left: 10px;
   }
   .div-inicio{
    background-color: #FFFFFF;
   }
   .div-homer{
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 340px;
    height: 150px;
    margin: 10px;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
   }
   .text-colorA{
    color: #FEBB22;
    margin-left: 15px;
    margin-top: 10px;
  
   }
   .text-colorB{
    color: rgba(128, 0, 128, 0.685);
    margin-left: 15px;
    margin-top: 10px;
   }
   .div-inicio{
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    border-color:rgba(128, 0, 128, 0.685) ;
    height: 25px;
    width: 170px;
    margin-left: 5px;
    margin-right: 20px;
   }
   
   .btn-inicio{
    background-color:  #FEBB22;
    color: #FFFFFF;
    border-radius: 15px;
    border: 0;
    cursor: pointer;
   }
   .btn-inico:hover{
    background-color:  #f59f00;
    text-decoration: underline;
   }
   /*************************************************************************************************/
   .footer-A{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    font-size: 10px;
    color: rgba(128, 0, 128, 0.685);
   }
  
   /************************************************************************************************************************/
/*Modal Inicio sesión*/
.modal-inicio{
    margin-top: 40%;
  }
  
  .btn-ini{
     margin-left: 6.5rem;
  }
  .f-modal{
      margin-right: 2.5rem;
  }


/****************************************/
  .modal-container {
   background-color: #FFFFFF;
   width: 250px;
   height: 150px;
   margin: auto;
   position: relative;
  }
  .modal-form{
  text-align: center;
  color: rgba(150, 148, 148, 0.521);
  
}
.btn-modal{
  font-size: 12px;
  background-color:  #FEBB22;
  color: #FFFFFF;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
  margin-top: 2px;
}
.modal-inicio{
    display: flex;
    justify-content: center;
}
/*Visibilidad de contenidos*/
#contenido-1{
  display: none;  
}
#contenido-2{
  display: inline-block;  
}
#contenido-3{
  display: none;  
}
#contenido-4{
  display: none;  
}
#contenido-5{
  display: none;  
}
#contenido-6{
    display: none;
}
#contenido-7{
    display: none;
}
#contenido-8{
    display: none;
}
#contenido-9{
    display: none;
}
#contenido-10{
    display: none;
}
/*DISEÑOS DE CONTENIDOS*/
/*diseño contenido 8 mapa */
.mapG{
   margin-left: 19px;
   border-radius: 5px;
   margin-top: 40px;
   width: 321px;
   height: 265px;
}
.text-cont8{
    color: #6C6966;
    margin-top: 15px;
    margin-left: 19px;
}
/*Diseño de la nav secundaria*/
.nav-secundaria{
    background-color: #FFAE9E;
    font-size: 15px;
    
}
.nav-link{
    color: #6C6966 !important; 
    text-align: center;
}
.page{
    background-color:#f59f00 !important;
}

/*Diseño de contenido 6 Inicio */
.cont-6{
    margin-top: 100px;
    text-align: center;
    color: #6C6966;
}
/*Diseño de contenido 7 pedidos */
.cont-7{
    margin-top: 180px;
    text-align: center;
    color: #6C6966;
}
/*Diseño de contenido 9 Historial */
.cont-9{
    text-align: center;
}
.cont-9-div1{
    width: 320px;
    height: 80px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 19px;
}
.cont-9-div2{
    width: 320px;
    height: 365px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 19px;
}
.tex-cont-9{
    margin-top: 10px;
    margin-left: 19px;
    color: #6C6966;
}
/*Diseño de contenido 10 Caja*/
/*Pestaña pedidos*/
.btn-pedidos{
    font-size: 12px;
    background-color:  #FEBB22;
    color: #FFFFFF;
    border-radius: 100px;
    border: 0;
    cursor: pointer;
    margin-top: 30px;
    height: 60px;
    width: 60px;
}
/*Contenido de pestaña pedidos*/
#ActualizarContPedido{
    display: none;
}
.btn-rechazo{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
#cont1-pedidos{
    display: none;
}
.mapPedidos{
    margin-left: 19px;
    border-radius: 5px;
    margin-top: 10px;
    width: 321px;
    height: 265px;
}
.btn-aceptarP{
    background-color:  #57CFC5;
    color: #FFFFFF;
    border-radius: 15px;
    border: 0;
    cursor: pointer;
    margin-left: 145px;
    margin-top: 50px;
}
.text-contP{
    color: #6C6966;
    margin-top: 15px;
    margin-left: 19px;
    font-size: 0.7rem;
}
/************************/
#cont2-pedidos{
display: none;
}
#cont3-pedidos{
display: none;
}
#cont4-pedidos{
display: none;
}
#cont5-pedidos{
display: none;
}
}




  
  